 
 body{
    font-family: arial; 
	font-size: 80%; 
	line-height: 1.2em; 
	width: 100%; 
	margin: 0; 
	background: #eee;
}

#page{ 
	float:left;
	margin:0px;
	margin-left:40px;
	margin-top:20px;
	width:94%;	
}

#logo{	
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

a{
	color: black;
	text-decoration: none;
}

a:hover, a:active{ 
	text-decoration: underline; 
}

h1, h2{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }

#nav{
	width: 60%;
	text-align: right;
	float: right;
}

#nav ul li{
	display: inline-block;
	height: 62px;
}

#nav ul li a{
	padding: 20px;
	background: orange;
	font-size:16px;
	color: white;
}

#nav ul li a:hover{
	background-color: #ffb424;
	box-shadow: 0px 1px 1px #666;
}

#nav ul li a:active{ 
	background-color: #ff8f00; 
}

#content{
	float:left;
	margin:0px;
	width:97%;
	background: white;
	padding: 20px;
	clear: both;
} 

p{ line-height: 1em; }

/*Table Alignment*/

#formDiv{
	float:left;
	width:100%;
	height:auto;
	min-height:200px;
	background-color:none;
}

table{
	float:left;
	margin-top:1%;
	background-color: none;
	width:50%;
}

tr{
	height:40px;
}

tr .labels{
	width:20%;
	font-size:14px;
	font-weight:600;
	background-color:none;
}

tr .Fields{
	width:30%;
	background-color: none;
}

input{
	height:30px;
	width:200px;
	text-indent:10px;
	border:solid lightgrey 1px;
}

#candidateExperience{
	text-indent:10px;
	height:20px;
	width:50px;
}

#candidateCV{
	text-indent:0px;
}

#candidateCV{
	width:100%;
	border:0px;
}

#uploadBtn{
	text-indent:0px;
}

/* Error */

.errors{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:15px;
	color:red;
}

#footer{
	float:left;
	width:100%;
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

#footer p{
	float:left;
	width:100%;
	text-align: right;
	text-transform: uppercase;
	font-size: 80%;
	color: grey;
}