<!DOCTYPE html>
<html>
<head>
<title>CMS</title>

<link rel='stylesheet' type='text/css' href='css/Index.css' />

</head>
<body>
	<div id="page">
		<div id="logo">
            <h1><a href="" id="logoLink">Ramarson Content Management System</a></h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="/Upload">Upload</a></li>
				<li><a href="/View">View Candidates</a></li>
			</ul>	
		</div>
		<div >
			<img src="images/HomePageBanner.jpg" style="width:100%;"/>
		</div>
		<div id="footer">
			<p>
				Ramarson Technology Developers LLP.
			</p>
		</div>
	</div>
</body>
</html>