<!DOCTYPE html>
<html>
<head>
    <title>CMS</title>

    <link rel='stylesheet' type='text/css' href='css/Index.css' />

</head>
<body>
    <div id="page">
        <div id="logo">
            <h1><a href="" id="logoLink">Ramarson Content Management System</a></h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/Upload">Upload</a></li>
                <li><a href="/View">View Candidates</a></li>
            </ul>
        </div>
        <div id="content">
            <h2>Home</h2>
            <p>
                - Some Description here.
            </p>
        </div>
        <div id="footer">
            <p>
                Ramarson Technology Developers LLP.
            </p>
        </div>
    </div>
</body>
</html>